$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
$font-family-test: "Noto Sans Japanese", sans-serif;
$font-family-mincho: "ヒラギノ明朝 ProN W3", "游明朝", YuMincho, 'Sawarabi Mincho', serif;
$font-family-base: $font-family-test;
// $font-size-base: 62.5%; // 10px
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$line-height-base: 1.5;
$body-color: #000;
$body-bg: #fff;
$link-color: #0275d8;
$link-hover-color: #5bc0de;

$breakpoint-sp: 767px;
$breakpoint-tablet: 768px;
$breakpoint-pc: 980px;
$width-pc: $breakpoint-pc;
