{% extends 'template/_template.njk' %}

{% set bodyClass = 'page-example' %}

{% block title %}expampleページ{% endblock %}
{% block description %}expampleページの説明{% endblock %}
{% block ogtitle %}{% endblock %}
{% block ogtype %}website{% endblock %}
{% block ogurl %}https://{% endblock %}
{% block ogdescription %}{% endblock %}
{% block ogsitename %}{% endblock %}
{% block ogimage %}https://{% endblock %}

{% block main %}
<div class="menu">
	<div class="menu-inner">
		<button type="button" class="menu-btn">
			<span class="menu-btn_line"></span><span class="menu-btn_line"></span><span class="menu-btn_line"></span>
		</button>
		<nav class="gnav">
			<ul>
				<li><a href="#">グロナビメニュー１</a></li>
				<li><a href="#">メニュー２</a></li>
				<li><a href="#">メニュー３</a></li>
				<li><a href="#">メニュー４</a></li>
				<li><a href="#">メニュー５</a></li>
			</ul>
		</nav>
	</div>
</div>
<p>page-exampleのメインコンテンツ1</p>
<p>page-exampleのメインコンテンツ2</p>
<p>page-exampleのメインコンテンツ3</p>
<p>page-exampleのメインコンテンツ4</p>
<p>page-exampleのメインコンテンツ5</p>
<p>page-exampleのメインコンテンツ6</p>
<p>page-exampleのメインコンテンツ7</p>
<p>page-exampleのメインコンテンツ8</p>
<p>page-exampleのメインコンテンツ9</p>
<p>page-exampleのメインコンテンツ10</p>
<p>page-exampleのメインコンテンツ11</p>
<p>page-exampleのメインコンテンツ12</p>
<p>page-exampleのメインコンテンツ13</p>
<p>page-exampleのメインコンテンツ14</p>
<p>page-exampleのメインコンテンツ15</p>
<p>page-exampleのメインコンテンツ16</p>
<p>page-exampleのメインコンテンツ17</p>
<p>page-exampleのメインコンテンツ18</p>
<p>page-exampleのメインコンテンツ19</p>
<p>page-exampleのメインコンテンツ20</p>
<p>page-exampleのメインコンテンツ21</p>
<p>page-exampleのメインコンテンツ22</p>
<p>page-exampleのメインコンテンツ23</p>
<p>page-exampleのメインコンテンツ24</p>
<p>page-exampleのメインコンテンツ25</p>
<p>page-exampleのメインコンテンツ26</p>
{% endblock %}
